<div class="whole-page" md-swipe-left="pageForward()" md-swipe-right="pageBackward()">
    <div class="paper">
        <div ng-class="pages.data[currentpage].style + '-header'" ng-hide="pages.data[currentpage].style == 'five'">
            <p ng-hide="pages.data[currentpage].style == 'interactive'">
                The Riftstone Journals
            </p>
        </div>

        <!-- <div ng-class="pages.data[currentpage].style + '-body'" ng-hide="pages.data[currentpage].style == 'interactive'">
            <div ng-bind-html="pages.data[currentpage].content[0] | sanitize" ng-hide="pages.data[currentpage].style == 'interactive'"></div>
        </div> -->

        <div ng-class="pages.data[currentpage].style + '-body'" ng-hide="pages.data[currentpage].style == 'interactive'">
            <div dynamic="html"></div>
        </div>


        <div ng-class="pages.data[currentpage].style + '-body'" ng-show="pages.data[currentpage].style == 'interactive'">
            <form>
                <p ng-model="answer1.prompt">{{pages.data[currentpage].question1[0].prompt}}</p>
                <textarea ng-model="answer1.answer"></textarea>
            </form>
            <button ng-click="autoSaveAnswers()">Save Answer1</button>
            <div class="gap"></div>
            <form>
                <p>{{pages.data[currentpage].question2[0].prompt}}</p>
                <textarea></textarea>
            </form>
        </div>

        <div ng-class="pages.data[currentpage].style + '-footer'" ng-hide="pages.data[currentpage].style == 'five'">
            {{pages.data[currentpage].displaypage}}
        </div>
    </div>
    <div class="backwardsButton" ng-click="pageBackward()">
    </div>
    <div class="forwardsButton" ng-click="pageForward()">
    </div>
</div>
