
<md-content class="md-padding">
    <div layout="row">
        <div flex="20">
            <md-list-item class="md-3-line" ng-repeat="book in create.user.data.books">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ book.displaytitle }}</h3>
                    <h4>{{ book.linktitle}}</h4>
                    <h4>{{ book.pages.length }}</h4>
                </div>
            </md-list-item>
        </div>
        <div flex="50">
            <!-- book editor -->
            <form ng-submit="create.submitNewBook(create.newBook)">
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Display Title</label>
                        <input ng-model="create.newBook.displaytitle">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Link Title</label>
                        <input ng-model="create.newBook.linktitle">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button type="submit">Save</md-button>
                </div>
            </form>
        </div>
        <div flex="100">
            <!-- question preview -->
        </div>
    </div>
</md-content>
