<div ng-cloak>
    <md-content>
        <form ng-submit="updateUserProfile(user)" >
        <div layout="row" layout-margin>
            <div flex="33">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input type="text" ng-model="user.data.username">
                </md-input-container>
            </div>
            <div flex="33">
                <md-input-container class="md-block">
                    <label>First Name</label>
                    <input type="text" ng-model="user.data.fname">
                </md-input-container>
            </div>
            <div flex="33">
                <md-input-container class="md-block">
                    <label>Last Name</label>
                    <input type="text" ng-model="user.data.lname">
                </md-input-container>
            </div>
        </div>
        <div layout-margin>
            <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="user.data.address">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <label>Address 2</label>
                <input ng-model="user.data.address2">
            </md-input-container>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>City</label>
                    <input ng-model="user.data.city">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>State</label>
                    <md-select ng-model="user.data.state">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Postal Code</label>
                    <input name="Zip Code" ng-model="user.data.zipcode" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                </md-input-container>
                <br>
            </div>
        </div>
        <div layout="row" layout-align="center">
            <md-button type="submit" class="md-raised">Save Profile</md-button>
        </div>
    </form>
    </md-content>
</div>
